.messenger-outer {
  border: 1px solid #333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 270px;
  height: 420px;
}

.messenger,
.messenger .messenger-header .circle {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.messenger {
  position: relative;
}

.messenger .messenger-header {
  padding: 8px 25px;
  background-color: #333;
  color: #fff;
}

.messenger .messenger-header .circle {
  background-color: white;
}

.messenger .messenger-content {
  height: 290px;
  overflow-y: scroll;
}

.messenger .messenger-footer {
  padding: 15px;
  bottom: 0;
  width: 100%;
  background-color: #dfdfdf;
  position: absolute;
}

.messenger .messenger-footer .typeArea {
  width: 100%;
  padding: 10px;
  max-height: 230px;
  background-color: white;
  overflow-y: auto;
}

.messenger .messenger-footer .smile {
  font-size: 28px;
  position: absolute;
  top: 12px;
  right: 18px;
}

.message-outer .row {
  margin: 0 8px;
}

.message-outer .col-xs-9 {
  padding: 0;
}

.message {
  margin: 8px 0;
  padding: 15px;
  background-color: #99AAFF;
}
